@model Enrollment

@*<form method="post" asp-action="DeletePOST">*@
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Enrollment</h2>
        </div>
        <div asp-validation-summary="All" />
        <div class="mb-3">
            <label asp-for="StudentId"></label>
            <input asp-for="StudentId" class="form-control" disabled />
            <span asp-validation-for="StudentId" class="text-danger" />
        </div>
        <div class="mb-3">
            <label asp-for="Grade"></label>
            <input asp-for="Grade" class="form-control" disabled />
            <span asp-validation-for="Grade" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Enrollment" asp-action="Index" class="btn btn-secondary">
            Back to list
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }